$button-color: color("accent") !default;
$button-hover: white;

.btn {
  cursor: pointer;
  outline: none;

  padding: $base-spacing;
  display: inline-block;
  position: relative;
  transition: all 0.2s;

  border: 2px solid $button-color;
  background: transparent;

  color: $button-color;
  font-weight: 700;

  i, img {
    padding-right: $base-spacing;
  }
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.15s;
}

.btn:active {
  top: 2px;
}

.btn:hover {
  color: $button-hover;
  background: $button-color;
  transition: all 0s;
}

@mixin button-colors($primary, $secondary) {
  border: 2px solid $primary;
  color: $primary;

  &:hover {
    color: $secondary;
    background: $primary;
  }
}
