$nav-background: white;
$nav-hover: color('primary', 'background');

#nav {
  background: $nav-background;
  z-index: 999;

  .navbar {
    @include flex-wrapper();
    margin: 0 -1rem;

    > li {
      @include flex-item();
      padding: 0;
      a {
        display: block;
      }

      @include breakpoint(600px) {
        margin: 0;
        float: left;
        display: block;
        position: relative;
        flex: none;
        width: auto;
      }
    }

    .btn {
      border: none;
      &:hover {
        background: $nav-hover;
        color: color('accent');
      }
    }
  }

  &.nav-stick {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 8px 6px -6px #777777;
  }
}

