#mixins {
  .spacer {
    margin-bottom: 2rem;

  }
  .col {
    .spacer {
      @include breakpoint(600px) {
        margin-bottom: 0;
      }

    }
  }


  .content-box {
    background: color('primary');
    border: 1px solid color('primary', 'dark');
    border-radius: 2px;
    color: whitesmoke;
    width: 100%;
    padding: 1rem;
  }
  .example-full {
    // @include column();

    position: absolute;
  }
  .row-label {
    font-size: 1rem;
    margin-top: -1rem;
  }

  .example-code { margin-bottom: 3rem; }

  .dashed { border: 1px dashed black; }
  .example-layout-wrapper { @include row(); }

  .example-wrapper-left { @include row(left); }
  .example-wrapper-center { @include row(center); }
  .example-wrapper-right { @include row(right); }
  .example-wrapper-around { @include row(around); }
  .example-wrapper-between { @include row(between); }

  .example-tall-wrapper-top { @include row(top center); height: 125px; }
  .example-tall-wrapper-middle { @include row(center middle); height: 125px;  }
  .example-tall-wrapper-bottom { @include row(bottom center); height: 125px;  }

  .example-content { @include column(8); }
  .example-sidebar { @include column(4); }
  .example-three-col { @include column(3); }
  .example-perc-25 { @include column(25%); }
  .example-one-of-4 { @include column(1 of 4); }
  .example-one-4 { @include column(1 4); }
  .example-fixed-col { @include column(300px); }
  .example-default { @include column(); }
  .example-fit { @include column(fit); }
  .example-grow { @include column(grow); }

  .example-offset-1 {
    @include column(2);
    @include offset(1);
  }
  .example-offset-1-right {
    @include column(2);
    @include offset(1, right);
  }

  .example-responsive-col {
    @include column();

    @include breakpoint(600px) { @include column(50%); }
  }

  .example-item-variable {
    @include column(fit);
    order: -1;
    background: salmon;

    @include breakpoint(600px) { order: 1; }
    @include breakpoint(800px) { order: 2; }
    @include breakpoint(900px) { order: 3; }
    @include breakpoint(1000px) { order: 4; }
  }

  .example-item-one { @include column(grow); order: 0; }
  .example-item-two { @include column(grow); order: 1; }
  .example-item-three { @include column(grow); order: 2; }
  .example-item-four { @include column(grow); order: 3; }

}
