// Typography
$base-spacing: 1rem;
$base-line-height: 1.5;

// Flow Text
$range : $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;

html {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: font-color("black");

  font-size: $base-spacing;
  line-height: $base-line-height;

  @media only screen and (min-width: 0) {
    font-size: $base-spacing * 0.8;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: $base-spacing;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: $base-spacing * 1.2;
  }
}

a {
  transition: all 0.3s;
  text-decoration: none;
  color: color("accent");
  &:hover {
    transition: all 0.0s;
    color: color("accent", "light");
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  line-height: 1.1;
}

h1, .title {
  font-size: $base-spacing * 2.2;
  line-height: $base-line-height * 1.1;
  font-weight: 300;
}

h2, .subtitle {
  font-size: $base-spacing * 1.5;
  line-height: $base-line-height * 1.1;
}

h3, .label {
  font-size: $base-spacing * 1.25;
  line-height: $base-line-height * 1;
}

h6, .caption {
  font-size: $base-spacing * 0.8;
  line-height: $base-line-height * 0.5;
  font-weight: 600;
}

// Credit to materialize css
// https://github.com/Dogfalo/materialize/blob/master/sass/components/_typography.scss
// Auto resizes text to be more readable
.flow-text {
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: $base-spacing * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: $base-spacing;
  }
}
