// Google color pallete
// http://www.google.com/design/spec/style/color.html#color-color-palette

// Blue
$primary: (
  "light": #BBDEFB, //100
  "base": dodgerblue, //500
  "dark": royalblue, //700
  "background": whitesmoke
);

// Amber
$accent: (
  "light": royalblue, //100
  "base": mediumblue, //200
  "dark": #FFC400 //400
);

$white: (
  "base": rgba(255,255,255, 1),
  "secondary": rgba(255,255,255, 0.7),
  "hint": rgba(255,255,255, 0.3),
  "disabled": rgba(255,255,255, 0.3)
);

$black: (
  "pure": rgba(0,0,0,1),
  "base": rgba(0,0,0,0.87),
  "secondary": rgba(0,0,0,0.54),
  "disabled": rgba(0,0,0,0.38),
  "hint": rgba(0,0,0,0.38)
);

$colors: (
  "primary": $primary,
  "accent": $accent,
  "black": $black,
  "white": $white
);

// Color Classes

@each $color_name, $color in $colors {
@each $color_type, $color_value in $color {
  @if $color_type == "base" {
    .#{$color_name} {
      background-color: $color_value !important;
    }
    .#{$color_name}-text {
      color: $color_value !important;
    }
  }
  @else {
    .#{$color_name}.#{$color_type} {
      background-color: $color_value !important;
    }
    .#{$color_name}-text.text-#{$color_type} {
      color: $color_value !important;
    }
  }
}
}

// usage: color('primary')
// usage: color('primary', 'light')
@function color($color, $type:"base") {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);

    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }

  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
